:root {
    --bitcoin-color: #F7931A;
    --bitcoin-color-soft: #FFE9D4;
    --secondary: #1A9AF7;
    --secondary-soft: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    min-height: 334px;
    margin-bottom: 60px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%)
}
header img {
    margin: 35px auto 35px auto;
    width: 50%;
    max-width: 400px;
}

.header--title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--just-white);
}
.header--title-container h1, .characteristics-section > h1 {
    margin: 0 16px 24px;
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: bold;
    text-align: center;
}
.header--title-container p {
    margin: 0 16px 32px;
    font-weight: 500;
    color: var(--bitcoin-color-soft);
}
.header--title-container .header--button{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 15px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--just-white);
    font-weight: 700;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}
.header--button {
    position: absolute;
    top: 300px;
}
.header--button-arrowDown{
    width: 24px;
    height: 24px;
}
.header--button-arrowDown img{
    margin: auto;
}

/*MAIN 1*/
.exchange-tab {
    width: 70%;
}
.exchange-tab > p {
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--bitcoin-color);
}

.exchange-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
}
.exchange-updates > img {
    margin: 0 auto 40px;
    height: 70%;
    width: 70%;
}
.exchange-rate h1 {
    margin: 0 15px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
}
.exchange-rate h2, .characteristics-section > h2 {
    margin: 24px 15px 50px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
}
.exchange-table {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.coins-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    background-color: var(--just-white);
}
.exchange-table > img {
    text-align: center;
    width: 5%;
}
.coins-container div {
    display: flex;
}
.coins-container > div > p {
    color: #B5B0AC;
}
.coins-container p {
    padding-left: 5px;
    align-self: center;
    width: 50%;
}
.value-container {
    justify-content: space-between;
    width: 50%;
    margin: 10px;
    color: #757575;
}
.value-container img {
    height: 100%;
}
.last-update {
    display: inline-block;
    text-align: center;
    margin: 14px 0 60px;
    padding: 5px;
    background-color: var(--bitcoin-color-soft);
    border-radius: 8px;
}
.last-update p span {
    font-weight: bold;
}


/*Main 2*/
.characteristics-section {
    background-color: var(--warm-black);
}
.characteristics-section > h1 {
    margin: 0;
    padding: 64px 15px 24px;
}
.characteristics-section > h2 {
    margin: 0 12px 32px;
    color: #808080
}
.characteristics {
    padding-bottom: 50px;
}
.characteristics div{
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin: 16px 16px 0;
}
.characteristics div img {
    padding: 12px 0 0 16px;
}
.characteristic-title{
    color: var(--just-white);
    padding: 5px 10px 10px 16px;
    font-size: 1.3rem;
}
.characteristic-info {
    color: #808080;
    padding: 0 8px 20px 16px;
}
/*Comodin section*/

.comodin-section {
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url("/assets/images/bitcoinbaby.jpg");
}
.comodin-section p {
    text-align: center;
    padding-top: 65px;
    font-size: 1.7rem;
    color: var(--just-white);
}
/*Plan section*/

.plan-section {
    text-align: center;
}
.plan-section > h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--warm-black);
    margin: 65px 10px 24px;
}
.plan-section > h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
    margin: 0 12px 50px;
}
.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 250px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}
.plan-card .recomended, .saving-msg{
    font-size: 0.9rem;
}
.plan-card img {
    width: 80px;
    height: 60px;
}
.plan-card div {
    display: flex;
}
.plan-card div img {
    width: 24px;
    height: 24px;
}